<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <div>
        <img src="/Enterprise_Forward.jpg" alt="USS Enterprise (NCC-1701-D)" />
      </div>
      <h1>LCARS (Library Computer Access/Retrieval System) send new message</h1>
      <form method="POST" action="/new">
        <div>
          <label for="authorName">Author Name: </label><br />
          <input
            type="text"
            id="authorName"
            name="authorName"
            value="Captain Picard"
          />
        </div>
        <div>
          <label for="messageText">Message:</label>
          <br />
          <input
            type="text"
            id="messageText"
            name="messageText"
            value="Message"
          />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
