<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <div><a href="new">New Message</a></div>

    <h1>Mini Message Board</h1>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <strong><%= messages[i].user %></strong>: <%= messages[i].text %> (<%=
        messages[i].added %> )
      </li>
      <% } %>
    </ul>
  </body>
</html>
